
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    text-align: center;
}

#fine-print {
    position: absolute;
    top: 95%;
    left: 40%;
}

#title-screen {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally centers inputs */
}


#can-score, #expo-score, #mill-score {
    position: absolute;
    color: white;
    font-size: 2vw;
    border-radius: 4px;
    padding: 5px;
}

#can-score {
    top: 0%;
    left: 35%;
    background-color: #0e90b4;
}

#expo-score {
    top: 0%;
    left: 55%;
    background-color: #035492;
}

#mill-score {
    top: 5%;
    left: 43%;
    background-color: #facd38;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 3vw;
    background-color: #4a4a4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    z-index: 3;
}

#end-button {
    position: absolute;
    top: 82%;
    left: 45%;
    z-index: 2;
}


/* Container for the inputs */
.input-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.input-container img {
    width: 100%; /* Make image responsive */
    height: auto;
    display: block;
}


#can-boxes, #expo-boxes, #mill-boxes {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


  /* Common styling for all input boxes */
.input-boxes textarea,
.input-boxes input {
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 1.2vw;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-boxes textarea {
    resize: none;
}

.input-boxes textarea:focus,
.input-boxes input:focus {
    outline: none;
    outline-offset: 0;
}

#can-boxes input, #can-boxes textarea {
    border: 3.5px solid rgb(14, 144, 180);
}

#expo-boxes input, #expo-boxes textarea {
    border: 3.5px solid rgb(3, 84, 146);
}

#mill-boxes input, #mill-boxes textarea {
    border: 3.5px solid rgb(250, 205, 56);
}


  
  /* Size Variations */
.wide-input-box {
    width: 12vw;
    height: 2vw;
}
  
.tall-input-box {
    width: 10vw;
    height: 4vw;
}
  
.small-input-box {
    width: 10vw;
    height: 2vw;
}

.square-input-box {
    width: 6vw;
    height: 4vw;
}

.large-input-box {
    width: 10vw;
    height: 4vw;
}

  
#can-boxes input:nth-child(1) { top: 4.5%; left: 23%; } /* waterfront*/
#can-boxes input:nth-child(2) { top: 11%; left: 3%; } /* city center*/
#can-boxes input:nth-child(3) { top: 17%; left: 4%; } /* yaletown*/
#can-boxes input:nth-child(4) { top: 24%; left: 6%; } /* olympic village*/
#can-boxes input:nth-child(5) { top: 31%; left: 6%; } /* bway*/
#can-boxes input:nth-child(6) { top: 38%; left: 8%; } /* King ed */
#can-boxes input:nth-child(7) { top: 46%; left: 6%; } /* oakridge */
#can-boxes input:nth-child(8) { top: 53%; left: 6%; } /* langara */
#can-boxes input:nth-child(9) { top: 59%; left: 8%; } /* marine */
#can-boxes input:nth-child(10) { top: 66%; left: 20.5%; } /* bridgeport*/
#can-boxes input:nth-child(11) { top: 67%; left: 9%; } /* templeton */ 
#can-boxes textarea:nth-child(12) { top: 73%; left: 5%; } /* sea island */ 
#can-boxes textarea:nth-child(13) { top: 65%; left: 1%; } /* yvr */ 
#can-boxes input:nth-child(14) { top: 74%; left: 20.5%; } /* capstan */ 
#can-boxes input:nth-child(15) { top: 81%; left: 20.5%; } /* aberdeen */ 
#can-boxes input:nth-child(16) { top: 88%; left: 20.5%; } /* landsdowne */ 
#can-boxes input:nth-child(17) { top: 95%; left: 20.5%; } /* brighouse */ 

#expo-boxes input:nth-child(1) { top: 3%; left: 8.5%; } /* burrard */ 
#expo-boxes input:nth-child(2) { top: 11%; left: 22% } /* granville */ 
#expo-boxes input:nth-child(3) { top: 16%; left: 25%; } /* stadium */ 
#expo-boxes textarea:nth-child(4) { top: 20%; left: 31%; } /* main */ 
#expo-boxes textarea:nth-child(5) { top: 30%; left: 21%; } /* comm */ 
#expo-boxes input:nth-child(6) { top: 37%; left: 23%; } /* nanimo */ 
#expo-boxes input:nth-child(7) { top: 41.5%; left: 26%; } /* 29th */ 
#expo-boxes input:nth-child(8) { top: 46%; left: 26%; } /* joyce collingwood */ 
#expo-boxes input:nth-child(9) { top: 50%; left: 32%; } /* patterson */ 
#expo-boxes input:nth-child(10) { top: 54%; left: 35%; } /* metrotown */ 
#expo-boxes textarea:nth-child(11) { top: 61.5%; left: 49%; } /* royal oak */ 
#expo-boxes input:nth-child(12) { top: 56.5%; left: 52%; } /* edmonds ARROW */ 
#expo-boxes textarea:nth-child(13) { top: 61.5%; left: 58%; } /* 22nd */ 
#expo-boxes input:nth-child(14) { top: 53%; left: 53%; } /* new west */ 
#expo-boxes input:nth-child(15) { top: 49%; left: 59%; } /* columbia */ 
#expo-boxes input:nth-child(16) { top: 41%; left: 65%; } /* sapperton */ 
#expo-boxes input:nth-child(17) { top: 37%; left: 68%; } /* braid */ 
#expo-boxes input:nth-child(18) { top: 49%; left: 82%; } /* scott rd */ 
#expo-boxes input:nth-child(19) { top: 56%; left: 82%; } /* gateway */ 
#expo-boxes input:nth-child(20) { top: 64%; left: 82%; } /* surrey central */ 
#expo-boxes input:nth-child(21) { top: 71%; left: 82%; } /* king george */ 

#mill-boxes input:nth-child(1) { top: 26%; left: 18.5%; } /* vcc clark */ 
#mill-boxes input:nth-child(2) { top: 29.5%; left: 33%; } /* renfre */ 
#mill-boxes input:nth-child(3) { top: 25%; left: 39%; } /* rupert ARROW */ 
#mill-boxes input:nth-child(4) { top: 29.5%; left: 44%; } /* gilmore ARROW */ 
#mill-boxes textarea:nth-child(5) { top: 21.5%; left: 49%; } /* brentwood ARROW */ 
#mill-boxes input:nth-child(6) { top: 29.5%; left: 55%; } /* holdom ARROW */ 
#mill-boxes textarea:nth-child(7) { top: 21.5%; left: 59%; } /* sperling ARROW */ 
#mill-boxes textarea:nth-child(8) { top: 29.5%; left: 65%; } /* lake city way ARROW */ 
#mill-boxes textarea:nth-child(9) { top: 21.5%; left: 69%; } /* production way ARROW */ 
#mill-boxes textarea:nth-child(10) { top: 27%; left: 82%; } /* lougheed */ 
#mill-boxes input:nth-child(11) { top: 17%; left: 71%; } /* burquitlam */ 
#mill-boxes textarea:nth-child(12) { top: 9%; left: 79%; } /* moody cen */ 
#mill-boxes textarea:nth-child(13) { top: 9%; left: 85%; } /* inlet cen */ 
#mill-boxes textarea:nth-child(14) { top: 16.5%; left: 90%; } /* coquitlam cen */ 
#mill-boxes input:nth-child(15) { top: 7%; left: 87%; } /* lincoln */ 
#mill-boxes textarea:nth-child(16) { top: 1%; left: 87%; } /* lafarge lake */ 


#expo-boxes input:nth-child(12)::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px; /* Adjust the positioning as needed */
    transform: translateY(-50%);
    border: solid transparent;
    border-width: 5px;
    border-right-color: black; /* Arrow color */
  }

